.button {
  width: 132px;
  height: 47px;
  background: #2B2B2B;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.22em;
  cursor: pointer;
  text-align: left;
  padding: 0 12px;
  white-space: nowrap;
}
